<!-- /#sidebar-wrapper -->
        <!-- Page Content -->    
        <div id="page-content-wrapper">
            <header>       
                <!-- Start NavBar -->
                <nav th:replace="~{fragments/nav::nav}"></nav>
                <!-- End NavBar -->
            </header>    

            <section>  
                <div class="container-fluid d-flex-block flex-wrap my-4 px-4">
                    <!-- Breadcrumb -->
                    <div class="pagetitle">
                        <h1>Dashboard</h1>
                        <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/admin/}" href="index.html" class="active">Dashboard</a></li>
                         	<li class="breadcrumb-item active">Gestión</li>
                         	<li class="breadcrumb-item active">Alta Categoría</li>
                        </ol>
                        </nav>
                    </div>
                    <!-- End Breadcrumb -->
                	
                	<!--formulario-->
					<main class="container-fluid">
						<div class="row">
							<div class="col-2"></div>
							<form method="POST" th:action="@{/admin/gestion/categoria}" th:object="${categoria}" id="formulariocategoria" class="col-10 " onsubmit="return revisarFormulario();	">
								<div class="input-group mb-3 w-50 ">
								    <div class="input-group-prepend">
								      <label for="nombre" class="input-group-text" th:field="*{nombre}">Nombre</label>
								    </div>
								    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre">				    
								</div>				
								<div class="mensajeError text-danger" id="errorNombre" >Nombre Incorrecto</div>
								<button type="reset" class="btn btn-secondary mb-2">Limpiar</button>
								<button type="submit" id="enviar" class="btn btn-primary mb-2">Enviar</button>
							</form>
						</div>
					</main>
					<!-- End Formulario-->
                </div>
            </section>    
        </div>
        <!-- End Content Wrapper -->
    </div>